<%- include('includes/head.ejs') %> 
<%- include('includes/nav.ejs') %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-4">
      <h1 class="text-center">Criar conta ou Entrar</h1>
      <p class="text-center lead">Faça login ou crie sua conta abaixo</p>

      <div class="row">
        <div class="col-lg">
          <h4>Cadastre-se</h4>
          <p>Crie sua conta abaixo, caso ainda não esteja cadastrado:</p>

          <form action="/login/register" method="POST">
            <input type="hidden" name="_csrf" value=<%= csrfToken %>>
            <div class="form-group my-2">
              <label>Seu email</label>
              <input type="email" name="email" class="form-control" />
            </div>
            <div class="form-group my-2">
              <label>Sua senha</label>
              <input type="password" name="senha" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary my-2">
              Criar minha conta
            </button>
          </form>
        </div>

        <div class="col-lg">
          <h4>Fazer login</h4>

          <p>Se você já tem uma conta, faça login abaixo:</p>

          <form action="/login/login" method="POST">
            <input type="hidden" name="_csrf" value=<%= csrfToken %>>
            <div class="form-group my-2">
              <label>Seu email</label>
              <input type="email" name="email" class="form-control" />
            </div>
            <div class="form-group my-2">
              <label>Sua senha</label>
              <input type="password" name="senha" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary my-2">Entrar</button>
          </form>
        </div>
      </div>
    </div>

    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer.ejs') %>
